%a#certificates.header_link.btn.btn-mini.btn-primary{:href => "#", data: { 'toggle' => 'modal', 'target' => '#certificate-modal' }}
  %i.icon-plus-sign.icon-white
  Add Certificate
%h1 Certificates
#certificate_list
  .sub_section.clearfix
    %div.certificates-list-wrapper.left-side
      = render @certificates
    .tips
      %h4 Tips :
      %p You can add a certificate like CISCO, CPA, CFA, etc.

= render 'certificates/form', certificate: current_applicant.certificates.new
