%a#character_references.header_link.btn.btn-mini.btn-primary{:href => "#"}
  %i.icon-plus-sign.icon-white
  Add Character Reference
%h1 Character References
#character_reference_list
  .sub_section.clearfix
    .tips
      %h4 Tips :
      %p You can add character reference like your co-employee.
