%a#new_education.header_link.btn.btn-mini.btn-primary{:href => "#", data: { 'toggle' => 'modal', 'target' => '#education-modal' }, style: 'position:relative; bottom:20px' }
  %i.icon-plus-sign.icon-white
  Add a School
%h1 Education
#education_list
  .sub_section.clearfix
    %div.educations-list-wrapper.left-side
      = render @educations
    .tips
      %h4 Tips :
      %p List the schools you attended including vocational or certificate courses. Also, don't forget to include any honors or special awards you received.
/ Modal
= render 'educations/form', education: current_applicant.educations.new
