%a#family_background.header_link.btn.btn-mini.btn-primary{:href => "#"}
  %i.icon-plus-sign.icon-white
  Add Family Member
%h1 Family Background
#family_list
  .sub_section.clearfix
    .tips
      %h4 Tips :
      %p You can add your relatives.
