%a#languages.header_link.btn.btn-mini.btn-primary{:href => "#", data: { 'toggle' => 'modal', 'target' => '#language-modal' } }
  %i.icon-plus-sign.icon-white
  Add Language
%h1 Languages
#language_list
  .sub_section.clearfix
    %div.languages-list-wrapper.left-side
      = render @languages
  .sub_section.clearfix
    .tips
      %h4 Tips :
      %p You can add English as one of your known language.

= render 'languages/form', language: current_applicant.languages.new
