%a#specialized_skills.header_link.btn.btn-mini.btn-primary{:href => "#"}
  %i.icon-plus-sign.icon-white
  Add Skill
%h1 Specialized Skills
#skills_list
  .sub_section.clearfix
    .tips
      %h4 Tips :
      %p You can add a skill like accounting, public speaking, etc.
