.listing_item
  %h3
    File: 
    %span{style: 'font-weight: normal'}
      = link_to certificate.file_name, certificate.file.url, target: '_blank'
  -#%h3
    -#Year Obtained:
    -#%span{style: 'font-weight: normal'}
      -#= certificate.year
  -#%h3
    -#Grade:
    -#%span{style: 'font-weight: normal'}
      -#= certificate.grade

  .actions
    = link_to 'Delete', certificate_path(certificate), method: :delete, onclick: 'return confirm("Are you sure?")'
