.webkit{
  background: #2980b9;
}
#top_bar{
  height: 50px !important;
}


.sign-in-wrapper{
  margin-top: 20px;
}

.form-vertical{
    float: left;
     padding:3px;
}

.form-vertical{
   width:200px;
}

.form-vertical.label{
    text-align: right;
    margin-right: 3px;
    margin-top:2px;
}