.webkit{
  background: #2980b9;
}
#top_bar{
  height: 50px !important;
}

.devise{
  height: 100%;
  background: #95a5a6;

  footer{
    position: relative;
    bottom: 0px;
  }

  #header.packer{
    margin: 0 auto;
  }
}
.sign-in-wrapper{
  margin-top: 20px;
}
